* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*serve para que o padding e o border não aumentem o tamanho do elemento*/
    font-family: 'Oswald', sans-serif;
    /* Adiciona a fonte Oswald como padrão e caso ela não carregar, aí vai aparecer a sans-serif */
    font-weight: 400;
    color: #5d5d7d;
}

.wrapper {
    height: 100vh;
    /* para ocupar altura total da tela */
    width: 100vw;
    /* para ocupar largura total da tela */
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    padding-left: 136px;
}

.container-right {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 25%;
    right: 130px;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499ea;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.09);
    /*coloca sombra no botão*/
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: antiquewhite;
    border: none;
    border-radius: 30px;
    /*arredondar as bordas do botão*/
    cursor: pointer;
}

button:hover {
    /*efeito ao somente passar o mouse em cima do botão*/
    opacity: 0.8;
}

button:active {
    /*efeito ao clicar no botão*/
    opacity: 0.5;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: #5d5d7d;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    /* serve para selecionar o segundo elemento a, para estilizar apenas o segundo link, que é o "sign up" */
    opacity: 0.4;
}

a:hover {
    /* efeito ao passar o mouse em cima do link, "hover" significa "flutuar" */
    opacity: 0.4;
}

a:active {
    /*efeito ao clicar no link*/
    opacity: 0.8;
}

header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px) {

    /* serve para aplicar as regras de estilo apenas para telas com largura máxima de 900px, ou seja, para dispositivos móveis */
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        /* 
        display: block transforma o elemento em nível de bloco: começa em nova linha, ocupa toda a largura disponível (por padrão), e passa a respeitar width/height/margins como bloco.
        */
        height: auto;
        width: 100%;
        position: static; 
        /* position: static é o valor padrão, ou seja, o elemento é posicionado de acordo com o fluxo normal do documento, sem ser afetado por propriedades como top, right, bottom ou left. */
        padding: 40px;
    }

    img {
        position: static;
        max-width: 90%;
    }

    header a {
        display: none;
    }


    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 50px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

}